 @import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,800;1,600&display=swap'); 
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nunito Sans', sans-serif;

}
:root {
  --red: #F55A5A;
  --black: #2B283A;
  --ash:#918E9B;
  --body:#ffffff;
}

form {
  /* max-width: 50%; */
  max-width: 42rem;
  padding: 2rem;
  margin: 0 auto;
}
label,
input,
button {
  display: block;
  font-size: 1.5rem;
  color: #565656;
}

label {
  font-weight: bold;
  text-transform: capitalize;

}
input {
  width: 100%;
  min-height: 2rem;
  padding: 0.5rem;
}

::placeholder {
  opacity: 0.4;
  font-weight: 600;
  font-size: 1rem;
}

#email,
#bio {
  text-transform: lowercase;
}

#fname.success,
#lname.success,
#email.success,
#password.success,
#telephone.success,
#bio.success {
  border: 2px solid #21bf73;
}

#fname.error,
#lname.error,
#email.error,
#password.error,
#telephone.error,
#bio.error {
  border: 2px solid orangered;
}

input:active,
input:focus,
input:focus-visible {
  /* border: none; */
  /* border: 4px solid #21bf73; */
  background-color: #e7f0fe;
}

small {
  display: block;
  margin-bottom: 2%;
  /* color: #ffc774; */
  color: orange;
  font-weight: 900;
  text-align: center;
  font-size: large;
}

button {
  color: #fff;
  background-color: #444444;
  font-size: 1rem;
  padding: 1rem 2rem;
  border: none;
  border-radius: 10px;
  border-radius: 0.25rem;
  margin: 0;

}